{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<style>

body{
	background-color: #073269FF;
}
</style>
<div class="row justify-content-center" style="margin-top: 5rem;">
	<div class="col-lg-4">
		<div class="card mt-3 px-0">
			<div class="card-header">
		        <h5 class="text-center">Password Reset</h5>
		    </div>
			<div class="card-body">
				<p>Check your email for the link to reset password. If it doesnt appear within a few minutes check 
                    spam folder.
                </p>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to Login</a>
			</div>
			<div class="card-footer text-center text-muted">
				Any Issue ? <a href="#">Send us a mail</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}