Hi there,

Someone asked for a password reset for the email address {{ email }}.
Follow the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

In case you forgot your django username : {{ user.username }}

If clicking the link above doesnt work please copy and pastethe URL link in a new browser
window instead.

If youve received this mail in error, its likely that another user
entered your email by mistake. while trying a password reset 


Thanks,

The Frozine Company


<!--Create specific file to test email message -->