{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<style>
	.asteriskField{
    display: none !important;
}

.form-text{
	display: none !important;
}
body{
	background-color: #073269FF;
}
</style>
<div class="row justify-content-center" style="margin-top: 5rem;">
	<div class="col-lg-4">
		<div class="card mt-3 px-0">
			<div class="card-header">
		        <h5 class="text-center">Password Reset</h5>
		    </div>
			<div class="card-body">
			<form method="post" novalidate>

				{% csrf_token %}
				{{ form|crispy }}
				<button type="submit" class="btn btn-success btn-block">Send Email</button>
			</form>

			</div>
			<div class="card-footer text-center text-muted">
				Any Issue ? <a href="#">Send us a mail</a>
			</div>
		</div>

	</div>
</div>
{% endblock %}