{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Succesful reset{% endblock %}


{% block content %}
<style>

body{
    background-color: #073269FF;
}
</style>
<div class="row justify-content-center" style="margin-top: 5rem;">
    <div class="col-lg-4">
        <div class="card mt-3 px-0">
            <div class="card-header">
                <h5 class="text-center">Password Changed!</h5>
            </div>
            <div class="card-body">
                <p>You have successfully changed your passsword.....you may now proceed to login
                </p>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}