
{% load static %}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}TetraHydra - Course Admin Template{% endblock title %}</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    {% block style %}{% endblock style %}
    <link rel="stylesheet" href="{% static 'css/flag-icon.min.css' %}">
    {% block override %} <link rel="stylesheet" href="{% static 'scss/style.css' %}">{% endblock override %}

    <link rel="stylesheet" href="{% static 'css/lib/vector-map/jqvmap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>

{% block body %}
<div class="container">
        {% block content %}



        {% endblock %}</div>
    {% endblock body %}
    <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    {% block javascript %}{% endblock %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('#menuToggle').on('click', function(event) {
        $('body').toggleClass('open');
    });

    $('.search-trigger').on('click', function(event) {
        event.preventDefault();
        event.stopPropagation();
        $('.search-trigger').parent('.header-left').addClass('open');
    });

    $('.search-close').on('click', function(event) {
        event.preventDefault();
        event.stopPropagation();
        $('.search-trigger').parent('.header-left').removeClass('open');
    });
});
    </script>



</body>

</html>
